/* Profile Page */
.profile-section {
    padding: 3rem 1rem;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}
.profile-info{
  margin-top: 19px;
}

.profile-info .username {
    font-size: 1.85rem;
    margin-bottom: 0.5rem;
}

.profile-info .user-email {
    font-size: 1rem;
    color: var(--gray);
    margin-bottom: 0.75rem;
}

.user-posts h2 {
    margin-bottom: 2rem;
}

.js-user-posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}
.card {
  max-width: 440px;
  border-radius: 1rem;
  background-color:white;
  padding: 1rem;
  border: var(--gray);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.infos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  grid-gap: 1rem;
  gap: 1rem;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 7rem;
    height: 7rem;
    object-fit: cover;
    width: 7rem;
    border-radius: 0.5rem;
    background-color: white;
    overflow: hidden;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info {
  height: 7rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.function {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

.stats {
  width: 100%;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(0, 0, 0, 1);
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4px;
}

.state-value {
  font-weight: 700;
  color: rgb(118, 36, 194);
}

.request {
  margin-top: 1.5rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: all .3s ease;
}

.request:hover {
  background-color: rgb(118, 36, 194);
  color: #fff;
}
